---
permalink: /index.html
layout: index
---

<section class="content">
  {% for category in site.data.sites %}

  {% if category.sub %}
  {% for sub_category in category.sub %}
  <div class="sub-group">
    <h2 id="{{category.name}}-{{sub_category.name}}"><span class="iconfont icon-tag"></span>{{ sub_category.name }}
    </h2>
    <div class="web-item-container">
      {% for web_item in sub_category.links %}
      <div class="web-item">
        <div class="web-item-icons">
          {% assign icon_list = web_item.icon.status %}
          {% include web-item-icon-list.html icon_list = icon_list %}
          <div class="web-item-logo">
            <a href="{{ web_item.url }}">
              <!-- TODO default logo -->
              <img src="{{ site.web-item.logo.path }}{{ web_item.logo }}" alt="site icon" />
            </a>
          </div>
          {% assign icon_list = web_item.icon.info %}
          {% include web-item-icon-list.html icon_list = icon_list %}
        </div>
        <div class="web-item-text">
          <a href="{{ web_item.url }}">
            <h3>{{ web_item.title }}</h3>
            <p class="web-item-description">{{ web_item.description }}</p>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
  {% else %}
  <div class="sub-group">
    <h2 id="{{ category.name }}"><span class="iconfont icon-tag"></span>{{ category.name }} </h2>
    <div class="web-item-container">
      {% for web_item in category.links %}
      <div class="web-item">
        <div class="web-item-icons">
          {% assign icon_list = web_item.icon.status %}
          {% include web-item-icon-list.html icon_list = icon_list %}
          <div class="web-item-logo">
            <a href="{{ web_item.url }}">
              <!-- TODO default logo -->
              <img src="{{ site.web-item.logo.path }}{{ web_item.logo }}" alt="site icon" />
            </a>
          </div>
          {% assign icon_list = web_item.icon.info %}
          {% include web-item-icon-list.html icon_list = icon_list %}
        </div>
        <div class="web-item-text">
          <a href="{{ web_item.url }}">
            <h3>{{ web_item.title }}</h3>
            <p class="web-item-description">{{ web_item.description }}</p>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endfor %}
</section>