<div class="web-item">
  <div class="web-item-icons">
    {% assign icon_list = web_item.icon.status %}
    {% include web-item-icon-list.html icon_list = icon_list %}
    <div class="web-item-logo">
      <a href="{{ web_item.url }}" target="_blank" title="{{ web_item.url }}">
        <!-- TODO default logo -->
        <img src="{{ site.web-item.logo.path }}{{ web_item.logo }}" alt="logo for {{web_item.title}}" loading="lazy" />
      </a>
    </div>
    {% assign icon_list = web_item.icon.info %}
    {% include web-item-icon-list.html icon_list = icon_list %}
  </div>
  <div class="web-item-text">
    <a href="{{ web_item.url }}" target="_blank" title="{{ web_item.title }}">
      <h3>{{ web_item.title }}</h3>
      <p class="web-item-description" title="{{ web_item.description }}">{{ web_item.description }}</p>
    </a>
  </div>
</div>