:root {
  --font-size-basic: 1vw;
}

.container {
  width: 61.8rem;
}

.web-item {
  width: calc(11.7rem - 3.5 * var(--padding-common));
}

.web-item-container {
  grid-template-columns: auto auto auto auto auto auto auto;
}