:root {
  --padding-common: 3vw;
  --font-size-basic: 5vw;
}

html {
  font-size: var(--font-size-basic);
}

.container {
  margin: auto;
}

.header {
  background-color: var(--color-primary);
  height: calc(var(--padding-common) * 2 + 1rem);
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  padding: var(--padding-common);
}

.header>span {
  font-size: 1rem;
}

nav {
  padding: 0 var(--padding-common) var(--padding-common) var(--padding-common);
  background-color: var(--color-primary);
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: .8rem;
}

nav>.nav {
  border-top: .05rem solid rgba(var(--color-font-rgb), calc(.1 * var(--color-font-opacity)));
}

.nav li {
  line-height: 1.4rem;
  display: list-item;
  text-align: justify;
  padding: .1rem 0;
}

.nav>li>a {
  display: block;
  border-bottom: .05rem solid rgba(var(--color-font-rgb), calc(.1 * var(--color-font-opacity)));
}

.nav>li {
  position: relative;
}

.nav>li>span {
  display: none;
  position: absolute;
  font-size: .8rem;
  top: 0;
  left: calc(100vw - 1.5rem - var(--padding-common));
}

.nav .nav {
  display: none;
}

.nav>li:focus-within>.nav {
  display: flex;
}

.content {
  padding: 0 var(--padding-common);
}

.sub-group>h2 {
  padding-top: var(--padding-common);
  font-size: 4vw;
}

.sub-group>h2 .iconfont {
  font-size: inherit;
  margin-right: .5rem;
}

.web-item-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: var(--padding-common);
  justify-content: space-between;
  align-items: center;
}

.web-item {
  width: calc(51.5vw - 2 * var(--padding-common));
  background-color: var(--color-info);
  /* border: .15rem solid var(--color-font); */
  border-radius: var(--padding-common);
  padding: var(--padding-common);
  margin-top: var(--padding-common);
}

.web-item-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.web-item-icon-list {
  display: grid;
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: initial;
}

.web-item-icon-list .iconfont {
  font-size: 4vw;
  color: var(--color-font);
  opacity: 0.3;
}

.web-item-logo {
  border-radius: 50%;
  border: 1vw solid #fff;
  width: calc((50vw - 2 * var(--padding-common)) / 2);
  height: auto;
}

.web-item-text {
  width: 80%;
  margin: auto;
  font-size: .6rem;
}

.web-item-text h3 {
  text-align: center;
  padding: .3rem;
  font-size: inherit;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: .7;
}

.web-item-description {
  text-align: center;
  font-size: inherit;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  opacity: .6;
}