:root {
  --font-size-basic: 5vw;
  --padding-common: .6rem;
}

html {
  font-size: var(--font-size-basic);
}

.container {
  margin: auto;
}

.header {
  background-color: var(--color-primary);
  height: calc(var(--padding-common) * 2 + 1rem);
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  padding: var(--padding-common);
}

.header>span {
  font-size: 1rem;
}

nav {
  padding: 0 var(--padding-common) var(--padding-common) var(--padding-common);
  background-color: var(--color-primary);
  display: none;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: .8rem;
}

nav>.nav {
  border-top: .05rem solid rgba(var(--color-font-rgb), calc(.1 * var(--color-font-opacity)));
}

.nav li {
  line-height: 1.4rem;
  display: list-item;
  text-align: justify;
}

.nav>li>a {
  display: block;
  line-height: 2rem;
  border-bottom: .05rem solid rgba(var(--color-font-rgb), calc(.1 * var(--color-font-opacity)));
}

.nav-icon {
  font-size: .8rem;
  margin-right: .3rem;
  height: 1rem;
  width: 1rem;
  text-align: center;
}

.nav>li {
  position: relative;
}

.nav .nav {
  display: none;
}

.nav .nav>li>a {
  padding-left: 1.5rem;
}

/**
  * 不支持三级菜单
  **/
nav>.nav>li>.nav .nav {
  display: none;
}

nav>.nav>li:focus-within>.nav {
  display: flex;
}

.nav>li.nav-sub-container:focus-within>a {
  pointer-events: none;
}

.nav-sub-container>a>span:last-of-type {
  position: absolute;
  font-size: .8rem;
  top: 0;
  right: 0;
}

.nav>li.nav-sub-container:focus-within>a>span:last-of-type {
  transform: rotate(90deg);
  transition: transform calc(var(--transition-time-basic) * .2);
}

.nav>li.nav-sub-container:not(:focus-within)>a>span:last-of-type {
  transition: transform calc(var(--transition-time-basic) * .2);
}

.content {
  padding: 0 var(--padding-common);
}

.sub-group>h2 {
  padding: var(--padding-common) 0;
  font-size: .8rem;
}

.sub-group>h2>span {
  font-size: inherit;
  margin-right: .5rem;
}

.web-item-container {
  display: grid;
  gap: var(--padding-common);
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

.web-item {
  width: calc(10.3rem - 2 * var(--padding-common));
  height: calc(10.5rem - 2 * var(--padding-common));
  padding: var(--padding-common);
  border-radius: calc(var(--padding-common) / 2);
  background-color: var(--color-card-background);
}

.web-item-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.web-item-icon-list {
  display: grid;
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: initial;
  line-height: 1rem;
  width: .8rem;
  font-size: .8rem;
}

.web-item-icon-list .web-item-icon {
  font-size: inherit;
  color: var(--color-font);
  opacity: .1;
}

.web-item-icon-list .web-item-icon:hover,
.web-item-icon-list .web-item-icon:focus {
  opacity: .7;
}

.web-item-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

div.web-item-logo>a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc((9rem - 2 * var(--padding-common)) / 2);
  height: calc((9rem - 2 * var(--padding-common)) / 2);
  overflow: clip;
  border-radius: 50%;
  background-color: var(--color-background);
}

div.web-item-logo>a>img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 50%;
}

div.web-item-logo>a>img:hover {
  opacity: .7;
}

.web-item-text {
  width: 90%;
  margin: auto;
  font-size: .6rem;
}

.web-item-text h3 {
  text-align: center;
  padding: .8rem .3rem .3rem;
  font-size: inherit;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: .7;
}

.web-item-text h3:hover {
  opacity: .9;
}

.web-item-description {
  text-align: center;
  font-size: inherit;
  line-height: 1.5;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  opacity: .6;
}

.web-item-description:hover {
  opacity: .9;
}