<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Seven">
  <title>{{ site.title }}</title>

  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="description" content="{{ site.description }}">
  <!-- FB Open Graph -->
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="{{ site.url }}/{{ site.logo }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <!-- / Twitter Cards -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="{{ site.url }}/{{ site.logo }}">

  <link rel="shortcut icon" href="./assets/image/favicon.png">
  <link rel="stylesheet" href="./assets/remixicon/partly/remixicon.css">
  <link rel="stylesheet" href="./assets/css/main.css">
  <link rel="stylesheet" href="./assets/css/mobile-max-600.css">
  <link rel="stylesheet" media="only screen and (min-width: 600px)" href="./assets/css/tablet-min-600.css">
  <link rel="stylesheet" media="only screen and (min-width: 768px)" href="./assets/css/pc-min-768.css">
  <link rel="stylesheet" media="only screen and (min-width: 1281px)" href="./assets/css/large-min-1200.css">
</head>

<body>
  <div class="container">
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </div>
</body>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analystic.google.gtag }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', '{{ site.analystic.google.gtag }}');
</script>

</html>